.box {
  width: 200px;
  height: 200px;
  display: block;
  background-color: red;
  padding: 20px;
}

.box:visited {
  background-color: blue;
}

#welcome {
  align-self: center;
  align-items: center;
  align-content: center;
  vertical-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
