      #welcome {
        padding: 50px;
      }
      #main_game {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .o {
        display: inline-block;
      }
      .box {
        width: 100px;
        height: 100px;
        display: block;
        background-color: blue;
      }
      .box:visited {
        background-color: red;
      }
      .container {
        width: 80%;
      }
      .header-text {
        margin: 5px !important;
        padding: 0;
        color: white;
        font-weight: 100;
        font-size: 100px !important;
      }
      .header-info {
        margin: 15px !important;
        padding: 0;
        color: white;
        font-size: 20px;
        font-weight: 100;
      }
      .modal {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #welcome {
        background-color: grey;
        width: 60%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
      }
      .button-start {
        font-weight: 100;
        margin-top: 10px;
        width: 50%;
        height: 15%;
      }
      .red {
        color: rgba(255, 90, 90, 1);
      }
